[Desktop Entry]
Type=Application
Name=Ubisoft Connect
GenericName=Ubisoft Connect
Comment=Ubisoft Connect (Unofficial)
Exec=UbisoftConnect
Categories=Game;
Icon=UbisoftConnect
Keywords=Ubisoft;Ubisoft Connect;XDefiant;Assassin's Creed;Rayman;Rabbids;Star Wars;Prince of Persia;Skull and Bones;Avatar;Far Cry;For Honor;The Crew;Brawlhalla;Trackmania;Ghost Recon;The Division;Watch Dogs;The Settlers;Rainbow Six;Immortals;Trials;Child of Light;